.App {
  text-align: center;
}


.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.button-style {
  display: flex;
  justify-content: center;
  gap: 10px; 
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

button {
  padding: 10px 20px; 
  margin: 10px; 
  cursor: pointer; 
}

.userForm {
  display: flex;
  flex-direction: column;
}

#userForm label {
  width: 100px;
  float: left;
  padding-right: 20px;
  padding-top: 8px;
  font-size: 20px;
  white-space: nowrap;
}

#userForm input {
  margin-bottom: 15px;
}

.formContainer {
  align-items: center;
  text-align: center;
}

.listing-card { 
  float: left; 
  margin-right: 2vw;
  width: 30vw;
}

Button { 
  text-transform: none;
}

.formGroup { 
  display: flex;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
}

.formGroup button { 
  border: none;
  background-color: maroon;
  border-radius: 4px;
  color: white;
  padding: 12px;

}

.formGroup input { 
  margin-top: 1vh; 
  margin-bottom: 1vh;
  font-size: 1em;
}

.formGroup label { 
  margin-right: 1vw;
  display: inline-block;
}

.signUpHeader h1 { 
  text-align: center;
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

